
.block {
	
	
	float: left;
	width: 350px;
    overflow: hidden;
}





.dot1, .dot2, .dot3{
 float:left;
 height:5px;
 width:5px;
 margin-top:10px;
 
}

.dot1,.dot2,.dot3{
  margin-right:4px;
   font-size:10px;
   margin-top:5px;
}

.candleline p{
  padding:2px;
  font-size:10px;
}
.dot1{

  background: yellow;
}

.dot2{
	 background: pink;
}

.dot3{
	background: blue;
}



#graph {
  margin: 2em 1em;
  border: 1px solid black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}